<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Js_Exercise3</title>
    <!-- style -->
    <link rel="stylesheet" href="/tic_tac_toe/tic_tac_toe.css">
</head>
<body>
    <h2 style="text-align: center;">Js_Exercises3</h2>
    <div class="text1">
        <h2>Name:- Vishvas Panshiniya</h2>
    </div>
    <div class="text2">
        <h2>Emp ID:- 24DEV065</h2>
    </div>
    <hr>
    <h1 class="name1">Tic-Tac-Toe</h1>
    <h3 id="playerShow"></h3>
    <br>
    <!-- table  -->
    <div class="table1">
        <table id="mytable" align="center">
            <tr>
                <td id="r1"></td>
                <td id="r2"></td>
                <td id="r3"></td>
            </tr>
            <tr>
                <td id="r4"></td>
                <td id="r5"></td>
                <td id="r6"></td>
            </tr>
            <tr>
                <td id="r7"></td>
                <td id="r8"></td>
                <td id="r9"></td>
            </tr>
        </table>
    </div>
 
    <!-- button -->
    <div class="btn2">
        <input type="button" onclick="resetGame()" value="Restart  Game">
    </div>

    <!-- script -->
    <script src="/tic_tac_toe/tic_tac_toe.js"></script>
</body>
</html>