<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Js_Exercise4(TextFelid)</title>

    <!-- Css -->
    <link rel="stylesheet" href="/sorting/sorting.css">
</head>
<body>
    <h2 style="text-align: center;">Js_Exercises4</h2>
    <div class="text1">
        <h2>Name:- Vishvas Panshiniya</h2>
    </div>
    <div class="text2">
        <h2>Emp ID:- 24DEV065</h2>
    </div>
    <hr>
    <div>
        <h2>Sorting Algorithms</h2>
        <br>
        <form>
        <label for="Enter Value">Enter Value:- </label>
        <input type="text" id="value1" placeholder="1,2,3,.....">
        <br><br>
        <input type="button" onclick="gettext1()" value="BubbleSort">
        <input type="button" onclick="gettext2()" value="InsertionSort">
        <p id="demo"></p>
        <input type="reset" value="Reset" onclick="window.location.reload()">
    </form>
    </div>
    <script src="/sorting/sorting.js"></script>
</body>
</html>