table,th,td{
    border: 1px solid black;
    height: 50px;
}
table{
    text-align: center;
    margin: 0px auto;
    /* width: 100%; */
}
h2{
    text-align: center;
}
.mainpage{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 30px;
}

th{
    background-color: lightslategray;
}

h2{
    text-align: center;
}
.page{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    margin: 0px 0px 10px 30px;
}
a{
    text-decoration: none;
    color: black;
    margin: 0px 10px;
    border: 1px solid black;
    font-size: 30px;
    padding:10px;
    background-color: cadetblue;
    
}
.head{
    background-color: chocolate;
}
tr:nth-child(odd){
    background-color: burlywood;
}
tr:nth-child(even){
    background-color: cadetblue;
}

