<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HireX</title>

    <!-- CSS -->
    <link rel="stylesheet" href="/html_task3/task3.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
</head>
<body>
    <!-- Header -->
    <header class="header">
        <div class="container">
            <div class="h1-row1">
                <div class="h1-col1">
                    <img src="/html_task3/assets/HireX_black.png" alt="logo-img">
                </div>
                <nav class="h1-col2">
                    <ul>
                        <li><a href="#">Works</a></li>
                        <li><a href="#">About us</a></li>
                        <li><a href="#">Blogs</a></li>
                        <li><a href="#">FAQs</a></li>
                        <li><a href="#">Contact us</a></li>
                        <li><input type="button" value="We're Hiring &#8594" class="h1-btn"></li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>

    <div class="allsection">
        <!-- section1 -->
        <section class="section1">
            <div class="container">
                <div class="s1-row1">
                    <div class="s1-r1_col1">
                        <div class="s1-title1">
                            <p class="title1">WELCOME TO HIREX.</p>
                            <img src="/html_task3/assets/Star 1.png" alt="star-img">
                        </div>
                        <h1>Award Winning Digital Agency.</h1>
                        <p>Digital Agency offering unique solutions to create digital presence and increase your sales.</p>
                        <div class="s1-textbox1">
                            <input type="text" class="email1" placeholder="Your email address">
                            <input type="button" class="s1-btn1" value="Request access">
                        </div>
                        <div class="s1-textbox2">
                            <p>Open account and get 5 boxes</p>
                        </div>
                    </div>
                    <div class="s1-r1_col2">
                        <div class="webdesign">
                            <img src="/html_task3/assets/image 2 (Traced).png" alt="img" class="s1-img1">
                            <p class="s1-title1">Web Design</p>
                        </div>
                        <div class="socialmidia">
                            <img src="/html_task3/assets/image 6 (Traced).png" alt="img" class="s1-img2">
                            <p class="s1-title1">Social Midia</p>
                        </div>
                        <div class="uixdesign">
                            <p class="s1-title2">UIX Design</p>
                            <img src="/html_task3/assets/image 1 (Traced).png" alt="img" class="s1-img3">
                        </div>
                        <img src="/html_task3/assets/Group 6.png" alt="img" class="s1-img">
                    </div>
                </div>
            </div>
        </section>

        <!-- section2 -->
        <sectoion class="section2">
            <div class="container2">
                <marquee behavior="scroll" direction="left" scrollamount="20">
                    <div class="s2-row1">
                        
                        <div class="s2-r1_col1">
                            <p>GET ACCESS NOW!</p>
                            <img src="/html_task3/assets/image-fBLQvAFN1-transformed 1.png" alt="person-img">
                        </div>
                        <img src="/html_task3/assets/Line 4.png" alt="line-img" class="img1">
                        <div class="s2-r1_col1">
                            <p>GET ACCESS NOW!</p>
                            <img src="/html_task3/assets/image-fBLQvAFN1-transformed 1.png" alt="person-img">
                        </div>
                        <img src="/html_task3/assets/Line 4.png" alt="line-img"  class="img1">
                        <div class="s2-r1_col1">
                            <p>GET ACCESS NOW!</p>
                            <img src="/html_task3/assets/image-fBLQvAFN1-transformed 1.png" alt="person-img">
                        </div>
                        <div class="s2-r1_col1">
                            <p>GET ACCESS NOW!</p>
                            <img src="/html_task3/assets/image-fBLQvAFN1-transformed 1.png" alt="person-img">
                        </div>
                        <div class="s2-r1_col1">
                            <p>GET ACCESS NOW!</p>
                            <img src="/html_task3/assets/image-fBLQvAFN1-transformed 1.png" alt="person-img">
                        </div>
                        <div class="s2-r1_col1">
                            <p>GET ACCESS NOW!</p>
                            <img src="/html_task3/assets/image-fBLQvAFN1-transformed 1.png" alt="person-img">
                        </div>
                    </div>
                </marquee>
            </div>
        </sectoion>

        <!-- section3 -->
        <section class="section3">
            <div class="container">
                <div class="s3-row1">
                    <div class="s3-r1_col1">
                        <p class="title2">Services</p>
                        <h2>How Hirex. Work</h2>
                        <p class="title3">The awesome people who makes all this possible</p>
                    </div>
                    <div class="s3-r1_col2">
                        <div class="s3-card1">
                            <p>START HERE</p>
                            <h3>Who we are & what we do</h3>
                            <img src="/html_task3/assets/Designer _Flatline 1.png" alt="design-img">
                            <div>
                                <input type="button" class="s3-btn1" value="START HERE &#8594">
                            </div>
                        </div>
                        <div class="s3-card1">
                            <p>CUSTOM DESIGN</p>
                            <h3>We'll design your projects</h3>
                            <img src="/html_task3/assets/Notifications_Flatline 1.png" alt="notifications-img">
                            <div>
                                <input type="button" class="s3-btn2" value="START HERE &#8594">
                            </div>
                        </div>
                        <div class="s3-card1">
                            <p>CONTACT US</p>
                            <h3>Drop us your message!</h3>
                            <img src="/html_task3/assets/Fortnite_Two Color 1.png" alt="fortnite-img" class="img2">
                            <div>
                                <input type="button" class="s3-btn3" value="START HERE &#8594">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- section4 -->
        <section class="section4">
            <div class="container">
                <div class="s4-row1">
                    <div class="s4-r1_col1">
                        <p class="title4">Works</p>
                        <h2>Find our latetest works</h2>
                        <p class="title5">The awesome people who makes all this possiable</p>
                    </div>
                    <div class="s4-row2">
                        <div class="s4-r2_col1">
                            <div>
                                <img src="/html_task3/assets/Rectangle 13.png" alt="rectangle-img">
                            </div>
                            <p class="title6">Web design</p>
                            <h3>Website Design For Digital Agency</h3>
                            <p class="title7">Bulid a unique Website with HireX Template</p>
                            <a href="#">Read more &#8594</a>
                        </div>
                        <div class="s4-r2_col1">
                            <div>
                                <img src="/html_task3/assets/Rectangle 13-1.png" alt="rectangle-img">
                            </div>
                            <p class="title6">3D Design</p>
                            <h3>Realistic 3d Model of Living Room</h3>
                            <p class="title7">Bulid a unique Website with HireX Template</p>
                            <a href="#">Read more &#8594</a>
                            <div>
                                <input type="button" class="s4-btn1" value="View All &#8594">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- section5 -->
        <section class="section5">
            <div class="container">
                <div class="s5-row1">
                    <div class="s5-r1_col1">
                        <h2>Plans & Pricing</h2>
                        <p>The awesome people who makes all this possible</p>
                    </div>
                </div>
                    <div class="s5-row2">
                        <div class="s5-r2_col1">
                            <div class="col1-first">
                                <h3>FREE</h3>
                                <p><strong class="font1">$0</strong> / MONTH</p>
                                <P>Start free while you learn more about our services</P>
                                
                            </div>
                            <div class="col1-second">
                                <p><i class="fa-solid fa-check"></i>  Free forever get the basic essentials</p>
                                <p><i class="fa-solid fa-check"></i>  Advanced security and performance</p>
                                <p><i class="fa-solid fa-check"></i>  Unlimited unhosted sites</p>
                                <p><i class="fa-solid fa-check"></i>  Live support</p>
                                <div>
                                    <input type="button" class="s5-btn1" value="GET STARTED">
                                </div>
                            </div>
                        </div>
                        <div class="s5-r2_col1">
                            <div class="col1-first">
                                <h3>BASIC</h3>
                                <p><strong class="font1">$19</strong> / MONTH</p>
                                <P>Get powerful tools to make your business grow</P>
                            </div>
                            <div class="col1-second">
                                <p><i class="fa-solid fa-check"></i>  Free forever get the basic essentials</p>
                                <p><i class="fa-solid fa-check"></i>  Advanced security and performance</p>
                                <p><i class="fa-solid fa-check"></i>  Unlimited unhosted sites</p>
                                <p><i class="fa-solid fa-check"></i>  Live support</p>
                                <div>
                                    <input type="button" class="s5-btn2" value="GET STARTED">
                                </div>
                            </div>
                        </div>
                        <div class="s5-r2_col1">
                            <div class="col1-first">
                                <h3>PRO</h3>
                                <p><strong class="font1">$99</strong> / MONTH</p>
                                <P>Take your business to the next level with our tools</P>
                            </div>
                            <div class="col1-second">
                                <p><i class="fa-solid fa-check"></i>  Free forever get the basic essentials</p>
                                <p><i class="fa-solid fa-check"></i>  Advanced security and performance</p>
                                <p><i class="fa-solid fa-check"></i>  Unlimited unhosted sites</p>
                                <p><i class="fa-solid fa-check"></i>  Live support</p>
                                <div>
                                    <input type="button" class="s5-btn3" value="GET STARTED">
                                </div>
                            </div>
                        </div>
                    </div>
                
            </div>
        </section>

        <!-- section6 -->
        <section class="section6">
            <div class="container">
                <div class="s6-row1">
                    <div id="s6-img1"><img src="/html_task3/assets/arrow-left-2.png" alt="left-img" onclick="leftside()"></div>
                    <div class="s6-r1_col1">
                        <img src="/html_task3/assets/testimonials-img.png" alt="img" class="s6-img3">
                        <div class="s6-img-text">
                            <label>@mase.place</label>
                            <div>
                                <img src="/html_task3/assets/arrow_top-right.png" alt="top-right-img">
                            </div>
                        </div>
                    </div>
                    <div class="s6-r1_col2">
                        <h3>"We select to practice in Minerva since it is both useful, and our clients basically adore it! It has stood the test of time and proceeds"</h3>
                        <p>Abel Carden is a TikTok persinality and lip-sync content creator who has bulit a fanbase of more than 3.2 million followers on the platform.</p>
                    </div>
                    <div id="s6-img2"><img src="/html_task3/assets/arrow-right-2.png" alt="right-arrow-img" onclick="rightside()"></div>
                </div>
            </div>
        </section>

        <!-- section7 -->
        <section class="section7">
            <div class="container">
                <div class="s7-row1">
                    <p>Blog</p>
                    <h3>Stay updated</h3>
                </div>
                <div class="s7-row2">
                    <div class="s7-r2_col1">
                        <div>
                            <img src="/html_task3/assets/Rectangle 19.png" alt="img">
                        </div>
                        <p class="title6">Web design</p>
                        <h3>We Launch Minerva Template this week!</h3>
                        <p class="title7">Bulid a unique Website with HireX Template</p>
                        <a href="#">Read more &#8594</a>
                    </div>
                    <div class="s7-r2_col1">
                        <div>
                            <img src="/html_task3/assets/Rectangle 20.png" alt="img">
                        </div>
                        <p class="title6">Web design</p>
                        <h3>Introducing the Non-Code Webflow Guide</h3>
                        <p class="title7">Bulid a unique Website with HireX Template</p>
                        <a href="#">Read more &#8594</a>
                    </div>
                </div>
            </div>
        </section>

        <!-- section8 --> 
        <section class="section8">
            <div class="container">
                <div class="s8-row1">
                    <div class="s8-r1_col1">
                        <h3>Get our latests news & updates</h3>
                        <p class="title8">NAME &nbsp;<input type="text" class="s8-text"></p>
                        <p class="title8">EMAIL &nbsp;<input type="text" class="s8-text"></p>
                        <div>
                            <P>SUBSCRIBE</P>
                            <img src="/html_task3/assets/arrow-right-black.png" alt="right-side-img">
                        </div>
                    </div>
                    <div class="s8-r1_col2">
                        <p>We select to practice in Minerva since it is both useful and commonsense, and our clients basically adore it</p>
                        <input type="button" class="s8-btn1" value="Book a Call">
                    </div>
                </div>
            </div>
        </section>

        <!-- section9 -->
        <section class="section9">
            <div class="container2">
                <marquee behavior="scroll" direction="left" scrollamount="20">
                    <div class="s9-row1">
                        <p>THANK YOU FOR YOUR VISIT &nbsp</p> <img src="/html_task3/assets/Line 4.png" alt="minus-img">&nbsp
                        <p>THANK YOU FOR YOUR VISIT &nbsp</p> <img src="/html_task3/assets/Group 59.png" alt="plus-img">&nbsp
                        <p>THANK YOU FOR YOUR VISIT &nbsp</p> <img src="/html_task3/assets/Line 4.png" alt="minus-img">&nbsp
                        <p>THANK YOU FOR YOUR VISIT &nbsp</p> <img src="/html_task3/assets/Group 59.png" alt="plus-img">&nbsp
                        <p>THANK YOU FOR YOUR VISIT &nbsp</p> <img src="/html_task3/assets/Group 59.png" alt="plus-img">&nbsp
                        <p>THANK YOU FOR YOUR VISIT &nbsp</p> <img src="/html_task3/assets/Group 59.png" alt="plus-img">&nbsp
                        <p>THANK YOU FOR YOUR VISIT &nbsp</p> 
                    </div>
                </marquee>
            </div>
        </section>
    </div>
    
    <!-- footer -->
    <footer class="footer">
        <div class="container">
            <div class="f1-row1">
                <div class="f1-r1_col1">
                    <img src="/html_task3/assets/HireX_black.png" alt="logo-img">
                </div>
                <div class="f1-r1_col2">
                    <div class="f1-all">
                        <p>Products</p>
                        <h5>Platform</h5>
                        <h5>Store Overview</h5>
                        <h5>Email Reports</h5>
                        <h5>Protfolio</h5>
                    </div>
                    <div class="f1-all">
                        <p>Resources</p>
                        <h5>Case Studies</h5>
                        <h5>Product Guides</h5>
                        <h5>Reports</h5>
                        <h5>Blog</h5>
                        <h5>FAQ</h5>
                    </div>
                    <div class="f1-all">
                        <p>Company</p>
                        <h5>Careers</h5>
                        <h5>Contact Sales</h5>
                        <h5>Contact Support</h5>
                    </div>
                    <div class="f1-all">
                        <p>Partners</p>
                        <h5>Partner With Us</h5>
                    </div>
                </div>
            </div>
            <div class="f1-row2">
                <div class="col3-f1">
                    <p>Terms and Conditions  Privacy policy</p>
                </div>
                <div class="col3-f2">
                    <p>&copy;HIREX, Inc. 2022</p>
                </div>
            </div>
        </div>
    </footer>


    <!-- Script -->
    <script src="/html_task3/task3.js"></script>
</body>
</html>