<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AwanHoster</title>

    <!-- CSS -->
    <link rel="stylesheet" href="/html_task2/task2.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
</head>
<body>
    <header class="header">
        <div class="container">
            <div class="h1-row1">
                <div class="h1-r1_col1">
                    <img src="/html_task2/assets/Group 3478(1).png" alt="logo-img">
                </div>
                <nav class="nav-list">
                    <ul>
                        <li><a href="#section1">Hosting</a></li>
                        <li><a href="#section1">Integration</a></li>
                        <li><a href="#section1">Pricing</a></li>
                        <li><a href="#section1">Community</a></li>
                        <li><input type="button" class="btn1" value="Login"></li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>

    <div class="allsection">
        <!-- Hosting -->
        <section class="section1">
            <div class="container">
                <div class="s1-row1">
                    <div class="s1-col1">
                        <div>
                            <h1>Hosting Services for Your Website</h1>
                            <p class="title1">Easily and reliably host a website for your business, organization, or project while retaining complete control over your site's underlying infrastructure.</p>
                            <input type="button" class="s1-btn1" value="Get Started">
                            <input type="button" class="s1-btn2" value="Get Migration Help">
                        </div>
                        <img src="/html_task2/assets/arrow-down.png" alt="dwon-img" onclick="dwonbtn()" id="-++">
                    </div>
                    <div class="s1-col2">
                        <img src="/html_task2/assets/portrait-confident-bearded-man-using-laptop-computer 1.png" alt="hero-img">
                    </div>
                </div>
                <!-- <div class="s1-row2">
                    <img src="assets/arrow-down.png" alt="dwon-img" onclick="dwonbtn()">
                </div> -->
            </div>
        </section>

        <!-- Performance -->
        <section class="section2">
            <div class="container">
                <div class="s2-row1">
                    <div class="s2-r1_col1">
                        <p>Those Who Have Experienced The Best Performance</p>
                    </div>
                    <div class="s2-r1_col2">
                        <img src="/html_task2/assets/Telkom Indonesia Logo.png" alt="telkom-img">
                    </div>
                    <div class="s2-r1_col2">
                        <img src="/html_task2/assets/Jetstar Airways Logo.png" alt="jetstar-img">
                    </div>
                    <div class="s2-r1_col2">
                        <img src="/html_task2/assets/Nescafe Logo.png" alt="nescafe-img">
                    </div>
                    <div class="s2-r1_col2">
                        <img src="/html_task2/assets/Lenovo Logo.png" alt="lenovo-img">
                    </div>
                </div>
            </div>
        </section>

        <!-- Speed -->
        <section class="section3">
            <div class="container">
                <div class="s3-row1">
                    <div class="s3-r1_col1">
                        <img src="/html_task2/assets/Group 3552.png" alt="hero-img2">
                    </div>
                    <div class="s3-r1_col2">
                        <h2 class="s3-h">Boost the Speed of Your Website</h2>
                        <div class="col2-main">
                            <div class="col2-step">
                                <h3>Faster Bulid Process</h3>
                                <p class="title2">We can speed up the process of creating your website</p>
                            </div>
                            <div class="col2-step">
                                <h3>Faster Delivery</h3>
                                <p class="title2">
                                    Our purchases and services can be completed quickly
                                </p>
                            </div>
                            <div class="col2-step">
                                <h3>Faster Access Speed</h3>
                                <p class="title2">Superb network infrastructure and hardware to support fast and stable access</p>
                            </div>
                            <div class="col2-step">
                                <h3>24/7 Faster Service</h3>
                                <p class="title2">We have a response time of less than 180 seconds, available 24 hours a day</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        
        <!-- Host any website -->
        <section class="section4">
            <div class="container">
                <div class="s4-row1">
                    <h2>Host Any Website With Our Fully Managed Services</h2>
                </div>
                <div class="s4-row2">
                    <div class="s4-r2_col1">
                        <div class="s4-col1-inner">
                            <div class="icon-text">
                                <img src="/html_task2/assets/cloud-sunny.png" alt="cloud-img" class="s4-img1">
                                <h4 class="title3">Cloud Hosting</h4>
                            </div>
                            <p class="title4">Cloud Hosting is a good fit for those of you who are building personal websites, portfolics, blogs, and other systems</p>
                        </div>
                        <div class="s4-col1-outer">
                            <p><strong class="big-f">$5.9</strong>/month</p>
                            <input type="button" class="s4-btn1" value="More Detail">
                        </div>
                    </div>
                    <div class="s4-r2_col1">
                        <div class="s4-col1-inner">
                            <div class="icon-text">
                                <img src="/html_task2/assets/buildings.png" alt="building-img" class="s4-img2">
                                <h4 class="title5">Corporate</h4>
                            </div>
                            <p class="title4">Provides business-related hosting services, such as websites or management systems for companies.</p>
                        </div>
                        <div class="s4-col1-outer">
                            <p><strong class="big-f">$19</strong>/month</p>
                            <input type="button" class="s4-btn1" value="More Detail">
                        </div>
                    </div>
                    <div class="s4-r2_col1">
                        <div class="s4-col1-inner">
                            <div class="icon-text">
                                <img src="/html_task2/assets/driver.png" alt="driver-img" class="s4-img2">
                                <h4 class="title5">Cloud VPS</h4>
                            </div>
                            <p class="title4">A scalable, fully-managed virtual private server we bulid and optimize specifically for your website.</p>
                        </div>
                        <div class="s4-col1-outer">
                            <p><strong class="big-f">$29</strong>/month</p>
                            <input type="button" class="s4-btn1" value="More Detail">
                        </div>
                    </div>
                    <div class="s4-r2_col1">
                        <div class="s4-col1-inner">
                            <div class="icon-text">
                                <img src="/html_task2/assets/monitor-mobbile.png" alt="moniter-img" class="s4-img2">
                                <h4 class="title5">Dedicated</h4>
                            </div>
                            <p class="title4">Your mission-critical website requires the Performance and security of a dedicated physical server.</p>
                        </div>
                        <div class="s4-col1-outer">
                            <p><strong class="big-f">$119</strong>/month</p>
                            <input type="button" class="s4-btn1" value="More Detail">
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- Cloud Hosting -->
        <section class="section5">
            <div class="container">
                <div class="s5-row1">
                    <div class="s5-r1_col1">
                            <h4 onclick="wordpress1()"><i class="fa-brands fa-wordpress-simple"></i> Wordpress</h4>
                            <h4 onclick="magento1()"><i class="fa-brands fa-magento"></i> Magento</h4>
                            <h4 onclick="laravel1()"><i class="fa-brands fa-laravel"></i> Laravel</h4>
                            <h4 onclick="php1()"><i class="fa-brands fa-php"></i> PHP</h4>
                    </div>
                    <div class="s5-r1_col2 wordpress">
                        <h2>The Best Managed Cloud Hosting for WordPress</h2>
                        <p>We live and breathe WordPress. Our managed hosting for WordPress and WooCommerce takes away cloud server related hassles so you can scale your website the way you want</p>
                        <div class="col-s5">
                            <div class="s5-inner">
                                <img src="/html_task2/assets/Vector.png" alt="vector-img">
                                <p>Unlimited Bandwidth</p>
                            </div>
                            <div class="s5-inner">
                                <img src="/html_task2/assets/Vector.png" alt="vector-img">
                                <p>Network Speed</p>
                            </div>
                            <div class="s5-inner">
                                <img src="/html_task2/assets/Vector.png" alt="vector-img">
                                <p>Turbo Power</p>
                            </div>
                            <div class="s5-inner">
                                <img src="/html_task2/assets/Vector.png" alt="vector-img">
                                <p>Xtreme Freedom</p>
                            </div>
                        </div>
                        <input type="button" class="s5-btn1" value="More Detail">
                    </div>
                    <div class="s5-r1_col2 magento">
                        <h2>The Best Managed Cloud Hosting for Magento</h2>
                        <p>We live and breathe WordPress. Our managed hosting for WordPress and WooCommerce takes away cloud server related hassles so you can scale your website the way you want</p>
                        <div class="col-s5">
                            <div class="s5-inner">
                                <img src="/html_task2/assets/Vector.png" alt="vector-img">
                                <p>Unlimited Bandwidth</p>
                            </div>
                            <div class="s5-inner">
                                <img src="/html_task2/assets/Vector.png" alt="vector-img">
                                <p>Network Speed</p>
                            </div>
                            <div class="s5-inner">
                                <img src="/html_task2/assets/Vector.png" alt="vector-img">
                                <p>Turbo Power</p>
                            </div>
                            <div class="s5-inner">
                                <img src="/html_task2/assets/Vector.png" alt="vector-img">
                                <p>Xtreme Freedom</p>
                            </div>
                        </div>
                        <input type="button" class="s5-btn1" value="More Detail">
                    </div>
                    <div class="s5-r1_col2 laravel">
                        <h2>The Best Managed Cloud Hosting for Laravel</h2>
                        <p>We live and breathe WordPress. Our managed hosting for WordPress and WooCommerce takes away cloud server related hassles so you can scale your website the way you want</p>
                        <div class="col-s5">
                            <div class="s5-inner">
                                <img src="/html_task2/assets/Vector.png" alt="vector-img">
                                <p>Unlimited Bandwidth</p>
                            </div>
                            <div class="s5-inner">
                                <img src="/html_task2/assets/Vector.png" alt="vector-img">
                                <p>Network Speed</p>
                            </div>
                            <div class="s5-inner">
                                <img src="/html_task2/assets/Vector.png" alt="vector-img">
                                <p>Turbo Power</p>
                            </div>
                            <div class="s5-inner">
                                <img src="/html_task2/assets/Vector.png" alt="vector-img">
                                <p>Xtreme Freedom</p>
                            </div>
                        </div>
                        <input type="button" class="s5-btn1" value="More Detail">
                    </div>
                    <div class="s5-r1_col2 php">
                        <h2>The Best Managed Cloud Hosting for PHP</h2>
                        <p>We live and breathe WordPress. Our managed hosting for WordPress and WooCommerce takes away cloud server related hassles so you can scale your website the way you want</p>
                        <div class="col-s5">
                            <div class="s5-inner">
                                <img src="/html_task2/assets/Vector.png" alt="vector-img">
                                <p>Unlimited Bandwidth</p>
                            </div>
                            <div class="s5-inner">
                                <img src="/html_task2/assets/Vector.png" alt="vector-img">
                                <p>Network Speed</p>
                            </div>
                            <div class="s5-inner">
                                <img src="/html_task2/assets/Vector.png" alt="vector-img">
                                <p>Turbo Power</p>
                            </div>
                            <div class="s5-inner">
                                <img src="/html_task2/assets/Vector.png" alt="vector-img">
                                <p>Xtreme Freedom</p>
                            </div>
                        </div>
                        <input type="button" class="s5-btn1" value="More Detail">
                    </div>
                </div>
            </div>
        </section>

        <!-- About us -->
        <section class="section6">
            <div class="container">
                <div class="s6-row1">
                    <div class="s6-r1_col1">
                        <h2>How Our Customers Feel About Us</h2>
                        <div class="s6-img1">
                            <img src="/html_task2/assets/arrow-right.png" alt="left-img" class="img-left" onclick="leftside()">
                            <img src="/html_task2/assets/arrow-right.png" alt="right-img" onclick="rightside()">
                        </div>
                    </div>
                    <div class="s6-r1_col2">
                        <div class="test1">
                            <div class="test1-inner">
                                <div class="align-center">
                                    <img src="/html_task2/assets/profile.png" alt="profile-img">
                                </div>
                                <div class="star5">
                                    <img src="/html_task2/assets/Star 2.png" alt="star-img">
                                    <img src="/html_task2/assets/Star 2.png" alt="star-img">
                                    <img src="/html_task2/assets/Star 2.png" alt="star-img">
                                    <img src="/html_task2/assets/Star 2.png" alt="star-img">
                                    <img src="/html_task2/assets/Star 2.png" alt="star-img">
                                </div>
                                <p class="title6">Thanks to the Awan Hoster, I was guided step-by-step until it was finished</p>
                                <div class="bottam-div">
                                    <h4>Guy Hawkins</h4>
                                    <p>Manager</p>
                                </div>
                            </div>
                        </div>
                        <div class="test1">
                            <div class="test1-inner">
                                <div class="align-center">
                                    <img src="/html_task2/assets/profile.png" alt="profile-img">
                                </div>
                                <div class="star5">
                                    <img src="/html_task2/assets/Star 2.png" alt="star-img">
                                    <img src="/html_task2/assets/Star 2.png" alt="star-img">
                                    <img src="/html_task2/assets/Star 2.png" alt="star-img">
                                    <img src="/html_task2/assets/Star 2.png" alt="star-img">
                                    <img src="/html_task2/assets/Star 2.png" alt="star-img">
                                </div>
                                <p class="title6">Thanks to the Awan Hoster, I was guided step-by-step until it was finished</p>
                                <div class="bottam-div">
                                    <h4>Guy Hawkins</h4>
                                    <p>Manager</p>
                                </div>
                            </div>
                        </div>
                        <div class="test1">
                            <div class="test1-inner">
                                <div class="align-center">
                                    <img src="/html_task2/assets/profile.png" alt="profile-img">
                                </div>
                                <div class="star5">
                                    <img src="/html_task2/assets/Star 2.png" alt="star-img">
                                    <img src="/html_task2/assets/Star 2.png" alt="star-img">
                                    <img src="/html_task2/assets/Star 2.png" alt="star-img">
                                    <img src="/html_task2/assets/Star 2.png" alt="star-img">
                                    <img src="/html_task2/assets/Star 2.png" alt="star-img">
                                </div>
                                <p class="title6">Thanks to the Awan Hoster, I was guided step-by-step until it was finished</p>
                                <div class="bottam-div">
                                    <h4>Guy Hawkins</h4>
                                    <p>Manager</p>
                                </div>
                            </div>
                        </div>
                        <div class="test1">
                            <div class="test1-inner">
                                <div class="align-center">
                                    <img src="/html_task2/assets/profile.png" alt="profile-img">
                                </div>
                                <div class="star5">
                                    <img src="/html_task2/assets/Star 2.png" alt="star-img">
                                    <img src="/html_task2/assets/Star 2.png" alt="star-img">
                                    <img src="/html_task2/assets/Star 2.png" alt="star-img">
                                    <img src="/html_task2/assets/Star 2.png" alt="star-img">
                                    <img src="/html_task2/assets/Star 2.png" alt="star-img">
                                </div>
                                <p class="title6">Thanks to the Awan Hoster, I was guided step-by-step until it was finished</p>
                                <div class="bottam-div">
                                    <h4>Guy Hawkins</h4>
                                    <p>Manager</p>
                                </div>
                            </div>
                        </div>
                        <div class="test1">
                            <div class="test1-inner">
                                <div class="align-center">
                                    <img src="/html_task2/assets/profile.png" alt="profile-img">
                                </div>
                                <div class="star5">
                                    <img src="/html_task2/assets/Star 2.png" alt="star-img">
                                    <img src="/html_task2/assets/Star 2.png" alt="star-img">
                                    <img src="/html_task2/assets/Star 2.png" alt="star-img">
                                    <img src="/html_task2/assets/Star 2.png" alt="star-img">
                                    <img src="/html_task2/assets/Star 2.png" alt="star-img">
                                </div>
                                <p class="title6">Thanks to the Awan Hoster, I was guided step-by-step until it was finished</p>
                                <div class="bottam-div">
                                    <h4>Guy Hawkins</h4>
                                    <p>Manager</p>
                                </div>
                            </div>
                        </div>
                        <div class="test1">
                            <div class="test1-inner">
                                <div class="align-center">
                                    <img src="/html_task2/assets/profile.png" alt="profile-img">
                                </div>
                                <div class="star5">
                                    <img src="/html_task2/assets/Star 2.png" alt="star-img">
                                    <img src="/html_task2/assets/Star 2.png" alt="star-img">
                                    <img src="/html_task2/assets/Star 2.png" alt="star-img">
                                    <img src="/html_task2/assets/Star 2.png" alt="star-img">
                                    <img src="/html_task2/assets/Star 2.png" alt="star-img">
                                </div>
                                <p class="title6">Thanks to the Awan Hoster, I was guided step-by-step until it was finished</p>
                                <div class="bottam-div">
                                    <h4>Guy Hawkins</h4>
                                    <p>Manager</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
        </section>

        <!-- Try it now -->
        <section class="section7">
            <div class="container">
                <div class="s7-row1">
                    <div class="s7-col1">
                        <div>
                            <h2 class="title7">Try It Now and Stop Doubting Anything Else</h2>
                            <p class="title8">With Awan Hoster's Money Back Guarantee, you can try the best service reliability</p>
                            <input type="button" class="s7-btn1" value="Start Free Trial">
                            <input type="button" class="s7-btn2" value="See All Plans">
                        </div>
                    </div>
                    <div class="s7-col2">
                        <img src="/html_task2/assets/Group 1000008788.png" alt="hero-img">
                    </div>
                </div>
            </div>
        </section>
    </div>

    <footer class="footer">
        <div class="container">
            <div class="footer-row">
                <div class="footer-col1">
                    <img src="/html_task2/assets/logo-white.png" alt="logo-img">
                    <p class="title9">We provide you with the best hosting solutions for your website.</p>
                    <div class="icon">
                        <i class="fa-brands fa-facebook-f"></i>
                        <i class="fa-brands fa-twitter"></i>
                        <i class="fa-brands fa-instagram"></i>
                        <i class="fa-brands fa-youtube"></i>
                        <i class="fa-brands fa-telegram"></i>
                    </div>
                </div>
                <div class="footer-col2">
                    <div class="company">
                        <h4>Company</h4>
                        <p>About</p>
                        <p>Blog</p>
                        <p>Leadership</p>
                        <p>Careers</p>
                        <p>Legal</p>
                    </div>
                    <div class="company">
                        <h4>Products</h4>
                        <p>API</p>
                        <p>Pricing</p>
                        <p>Documentation</p>
                        <p>Release Notes</p>
                    </div>
                    <div class="company">
                        <h4>Contact</h4>
                        <p>Support</p>
                        <p>Sales</p>
                        <p>Report Abuse</p>
                        <p>System Status</p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- JavaScript -->
    <script src="/html_task2/task2.js"></script>
</body>
</html>