<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ehya</title>

    <link rel="stylesheet" href="/html_task1/task1.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
</head>
<body>
    <!-- Header --> 
    <header class="header">
        <div class="container">
            <div class="h-row1">
                <div class="h-col1">
                    <img src="/html_task1/assets/Logo.svg" alt="logo-img">
                </div>
                <nav class="h-col2">
                    <ul class="nav-list">
                        <li><a href="#section1" class="nav-a">Home</a></li>
                        <li><a href="#section2" class="nav-a">Landings</a></li>
                        <li><a href="#section3" class="nav-a">Pages</a></li>
                        <li><a href="#section4" class="nav-a">Docs</a></li>
                        <li><a href="#section5" class="nav-a">Help</a></li>
                        <li><input type="button" id="h-btn1" value="Get it now"></li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>

    <div class="allsection">
        <!-- Home -->
        <section class="section1" id="section1">
            <div class="container">
                <div class="s1-row1">
                    <div class="s1-col1">
                        <img src="/html_task1/assets/Hero.png" alt="hero-img">
                    </div>
                    <div class="s1-col2">
                        <h1>Make Your new life happier.</h1>
                        <p class="title1">
                            We work with several leading insurance companies to secure insurance coverages tailored to meet your needs.
                        </p>
                        <input type="button" id="s1-btn1" value="Get a consultation">
                    </div>
                </div>
            </div>
        </section>

        <!-- Services -->
        <section class="section2" id="section2">
            <div class="container bg-color">
                <div class="services">
                    <div class="s2-row1">
                        <p class="title2">OUR SERVICES</p>
                        <h2>Insurance made simple for you</h2>
                        <p class="title3">We work with several leading insurance companies to secure insurance coverages tailored to meet your needs.</p>
                    </div>
                    <div class="s2-row2">
                        <div class="s2-r2_col1">
                            <img src="/html_task1/assets/tick2.png" class="img1">
                            <p class="title4">Flexible products to make your life easier</p>
                        </div>
                        <div class="s2-r2_col1">
                            <img src="/html_task1/assets/tick2.png" class="img1">  
                            <p class="title4">Highest standards of service</p>
                        </div>
                        <div class="s2-r2_col1">
                            <img src="/html_task1/assets/tick2.png" class="img1"> 
                            <p class="title4">Fast and reliable service</p>
                        </div>
                    </div>
                    <div class="s2-row3">
                        <div class="s2-r3_col1">
                            <img src="/html_task1/assets/Icon_Home.svg" alt="home-img" class="img2">
                            <h3>Home insurance</h3>
                            <p class="title1">
                                Home insurance is a type of insurance policy that provides cover for your home.
                            </p>
                            <a href="/" class="title5">Learn More <i class="fa-solid fa-arrow-right"></i></a>
                        </div>
                        <div class="s2-r3_col1">
                            <img src="/html_task1/assets/Icon_Blood_Donation.svg" alt="blood-donation-img"  class="img2">
                            <h3>Life insurance</h3>
                            <p class="title1"> 
                                Helping you bridge gaps in your helath care coverage during times of transition.
                            </p>
                            <a href="/" class="title5">Learn More <i class="fa-solid fa-arrow-right"></i></a>
                        </div>
                        <div class="s2-r3_col1">
                            <img src="/html_task1/assets/Icon_Car.svg" alt="car-img"  class="img2">
                            <h3>Car insurance</h3>
                            <p class="title1">
                                Car insurance is a type of insurance policy that provides cover for your car.
                            </p>
                            <a href="/" class="title5">Learn More <i class="fa-solid fa-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- Tips For you -->
        <section class="section3" id="section3">
            <div class="container">
                <div class="s3-row1">
                    <p class="title2">OUR TIPS FOR YOU</p>
                    <h2>Reinventing your protection</h2>
                    <p class="title6">We share common trends, strategies ideas, opinions, short & long stories from the team behind company.</p>
                </div>
                <div class="s3-row2">
                    <div class="s3-r2_col1">
                        <p class="title7">How to prevent and protect your family from Carbon monoxide</p>
                    </div>
                    <div class="s3-r2_col2">
                        <p class="title7">Motherhood is the hardest and the best job ever</p>
                    </div>
                </div>
            </div>
        </section>
        <!-- Benefits -->
        <section class="section4" id="section4">
            <div class="container">
                <div class="s4-row1">
                    <div class="s4-r1_col1">
                        <p class="title9">YOUR BENEFITS</p>
                        <h2>We're your right insurance advocate</h2>
                    </div>
                    <div class="s4-r1_col1">
                        <img src="/html_task1/assets/Donation.svg" alt="donation-img" class="img3">
                        <h3>We have the best prices</h3>
                        <p class="title8">Our insurance plans offers are priced the same everywhere else. We just make them easier for you to find.</p>
                    </div>
                    <div class="s4-r1_col1">
                        <img src="/html_task1/assets/Icon_Protection.svg" alt="protection-img" class="img3">
                        <h3>We're your insurance advocate</h3>
                        <p class="title8">We will deal with the insurance companies for you, even after you've bought your plan.</p>
                    </div>
                    <div class="s4-r1_col1">
                        <img src="/html_task1/assets/Icon_Neutron.svg" alt="neutron-img" class="img3">
                        <h3>We're unbiased</h3>
                        <p class="title8">Our online tools help you decide what product is best for you. We're here to insurance plan you choose.</p>
                    </div>
                    <div class="s4-r1_col1">
                        <img src="/html_task1/assets/Icon_CS.svg" alt="cs-img" class="img3">
                        <h3>We're available 24/7</h3>
                        <p class="title8">
                            We have your back 24/7 between our online chat function, email and telephone support.
                        </p>
                    </div>
                    <div class="s4-r1_col1">
                        <img src="/html_task1/assets/Icon_Like.svg" alt="like-img" class="img3">
                        <h3>We make insurance simple</h3>
                        <p class="title8">
                            We're committed to making applying for insurance as simple as can be for our customers.
                        </p>
                    </div>
                </div>
            </div>
        </section>
        <!-- TrustPilot -->
        <section class="section5" id="section5">
            <div class="container">
                <div class="s5-row1">
                    <div class="s5-r1_col1">
                        <div class="img-center">
                            <img src="/html_task1/assets/Avatar-2.png" alt="avatar-img">
                            <img src="/html_task1/assets/Avatar-1.png" alt="avatar-img" class="img4">
                            <img src="/html_task1/assets/Avatar.png" alt="avatar-img" class="img4">
                        <p class="title10"><strong>Friendly</strong> customer support team</p>
                    </div>
                    </div>
                    <div class="s5-r1_col1">
                        <div class="img-center">
                            <div class="col1-star">
                                <img src="/html_task1/assets/Path.svg" alt="green-star" class="img5">
                                <h4>Trustpilot</h4>
                            </div>
                            <img src="/html_task1/assets/s.svg" alt="star-img" class="img6">
                            <img src="/html_task1/assets/s.svg" alt="star-img" class="img6">
                            <img src="/html_task1/assets/s.svg" alt="star-img" class="img6">
                            <img src="/html_task1/assets/s.svg" alt="star-img" class="img6">
                            <img src="/html_task1/assets/s.svg" alt="star-img" class="img6">
                            <p class="title10"><strong>4.6 out of 5 stars</strong> from 8.6k reviews</p>
                        </div>
                    </div>
                    <div class="s5-r1_col1">
                        <div class="img-center">
                            <img src="/html_task1/assets/Icon_Like.svg" alt="like-img" class="img7">
                            <p class="title10">We're making <strong>insurance as simple as</strong> can be</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <!-- footer -->
    <footer class="footer">
        <div class="container bg-color2">
            <div class="footer-row1">
                <div class="footer-r1_col1">
                    <img src="/html_task1/assets/Logo_white.svg" alt="logo-img" class="img12">
                    <p class="title1">Bulid a modern and creative website with crealand</p>
                    <div class="icon-container">
                        <i class="fa-brands fa-google"></i>
                        <i class="fa-brands fa-twitter"></i>
                        <i class="fa-brands fa-instagram"></i>
                        <i class="fa-brands fa-linkedin"></i>
                        <i class="fa-brands fa-youtube"></i>
                    </div>
                </div>
                <div class="footer-r1_col2">
                        <h4 class="footer-h4">Ready to get insured? Sumbit your request and hear back as soon as tomorrow</h4>
                        <input type="text" class="email1" placeholder="Your Email">
                        <input type="button" class="footer-btn" value="Get started">
                </div>
            </div>
            <div class="copyright-container img-center">
                <p>Copyright &copy; 2019. Crafted with love.</p>
            </div>
        </div>
    </footer>
</body>
</html>