<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=], initial-scale=1.0">
    <title>Error</title>
    <link rel="stylesheet" href="/dynamic_queryrun/component.css">
</head>
<body>
    <p><strong>Your Query is :- </strong><%= query %></p>
    <h2>Sorry Data Not Found Or Any error in syntax</h2>
    <a href="/login/dashboard/sqlquery">Back</a>
</body>
</html>