<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Js_Excercise2</title>
    
    <link rel="stylesheet" href="/kukucube/kukucube.css">
</head>
<body>
    <h2 style="text-align: center;">Js_Exercises2</h2>
    <hr>
    <div class="div1">
        <h2>Name:- Vishvas Panshiniya</h2>
    </div>
    <div class="div2">
        <h2>Emp ID:- 24DEV065</h2>
    </div>
    <br>
    <div class="div1">
        <h4 class="st1">Score:- </h4>
        <h4 id="demo1"  class="st2">0</h4>
    </div>
    <div class="div2">
        <h4 class="st1">Time Left:-</h4>
        <h4 id="demo2"  class="st2"></h4>
    </div>
    <br>
    <div class="startbtn">
        <input type="button" onclick="tableshow()" value="Start Game" class="btn1" id="start1">
    </div>
    <br>
    <div id ="table1"></div>
    
    <!-- JavaScript -->
    <script src="/kukucube/kukucube.js"></script>
</body>
</html>
