<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show Details</title>
    <link rel="stylesheet" href="/api_fetch/apifetch.css">
</head>
<body onload="load()">
    <!-- table shows particular id -->
    <table id="tbl1"></table>

    <!-- button using show comments -->
    <div class="btn1">
        <input type="button" value="Show Comment" onclick="showcomment()">
    </div>

    <!-- comments show in this table -->
    <table id="tbl2"></table>

    <script src="/api_fetch/apifetch_showdetail.js"></script>
</body>
</html>