<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Event_Handle_In_JavaScript</title>
 
    <!-- CSS -->
    <link rel="stylesheet" href="/js_events/js_events.css">

    
</head>
<body onclick="load1()"  ononline="onfunction()" onoffline="offfunction()" onresize="alert('Resize event');" onbeforeunload="unload1()">
    <h2 style="text-align: center;">JavaScript Events</h2>
   <table>
        <!-- <caption>Mouse Events</caption> -->
        <tr>
            <td>
                <!-- <input type="submit" onclick="onclickevent" value="onclick"> -->
                <p onclick="onclickevent()">onclick</p>
            </td>
            <td>
                <!-- <input type="submit" ondblclick="ondbclickevent()" value="ondouble click"> -->
                <p onclick="ondbclickevent()">ondblclick</p>
            </td>
            <td>
                <!-- <input type="submit" onmousedown="mousedown()" value="onmousedown"> -->
                <p onmousedown="mousedown()">onmousedown</p>
            </td>
            <td>
                <!-- <input type="submit" onmouseenter="mouseenter()" value="onmouseenter"> -->
                <p onmouseenter="mouseenter()">onmouseenter</p>
            </td>
            <td>
                <!-- <input type="submit" onmouseleave="mouseleave()" value="onmouseleave"> -->
                <p onmouseleave="mouseleave()">onmouseleave</p>
            </td>
            
        </tr>
        <tr>
            <td>
                <!-- <input type="submit" onmousemove="mousemove()" value="onmousemove"> -->
                <p onmousemove="mousemove()">onmousemove</p>
            </td>
            <td>
                <!-- <input type="submit" onmouseout="mouseout()" value="onmouseout"> -->
                <p onmouseout="mouseout()">onmouseout</p>
            </td>
            <td>
                <!-- <input type="submit" onmouseover="mouseover()" value="onmouseover"> -->
                <p onmouseover="mouseover()">onmouseover</p>
            </td>
            <td>
                <!-- <input type="submit" onmouseup="mouseup()" value="onmouseup"> -->
                <p onmouseup="mouseup()">onmouseup</p>
            </td>
            <td>
                <!-- <input type="submit" oncontextmenu="contextmenu()" value="oncontextmenu"> -->
                <p oncontextmenu="contextmenu()">oncontextmenu</p>
            </td>
        </tr>
        <tr>
            <td>
                <input type="submit" onkeydown="keydown()" value="onkeydown">
                <!-- <p onkeydown="keydown()">onkeydown</p> -->
            </td>
            <td>
                <input type="submit" onkeypress="keypress()" value="onkeypress">
                <!-- <p onkeydown="keypress()">onkeypress</p> -->
            </td>
            <td>
                <input type="submit" onkeyup="keyup()" value="onkeyup">
                <!-- <p onkeyup="keyup()">onkeyup</p> -->
            </td>
            <td>
                <p>OnSubmit</p>
                <form action="/#" onsubmit="submit1()">
                    Enter Name:<input type="text" id="fname" name="fname"><br>
                    <input type="submit" value="submit">
                </form>
            </td>
            <td>
                <p>OnBlur</p>
                Enter Name:<input type="text" id="name" onblur="blurevent1()">
            </td>
        </tr>
        <tr>
            <td>
                <p>OnFocus</p>
                Enter Name:<input type="text" onfocus="focusevent1(this)">
            </td>
            <td>
                <p>OnFocusIn</p>
                Enter Name:<input type="text" onfocusin="focusin1(this)">
            </td>
            <td>
                <p>OnFocusOut</p>
                Enter Name:<input type="text" id="lname" onfocusout="focusout1(this)">
            </td>
            <td>
                <!-- <input type="button" onclick="load1()" value="load"> --> OnLoad
            </td>
            <td>
                <input type="button" onclick="unload1()" value="unload">
            </td>
        </tr>
        <tr>
            <td>
                OnResize
            </td>
            <td>
                <p>OnError</p>
                <!-- <img src="vishvas.jpg" id="onerror" name="onerror" onerror="error1()"> -->
            </td>
            <td>
                <p style="text-align: center;">
                    OnScroll
                </p>
                <p style="overflow: scroll; width: 150px; height: 100px;" onscroll="scroll1()">This is a paragraph.
                    this simple event is scroll use this paragraph.
                    this simple event is scroll use this paragraph.
                    this simple event is scroll use this paragraph.
                    this simple event is scroll use this paragraph.
                </p>
            </td>
            <td>
                On Change <br>
                <select id="state" onchange="changefunction()">
                    <option value="Gujarat">Gujarat</option>
                    <option value="Goa">Goa</option>
                    <option value="Bihar">Bihar</option>
                </select>
            </td>
            <td>
                Online And Offline Event
                <p id="demo"></p>
            </td>
        </tr>
    </table>
    <script src="/js_events/js_events.js"></script>
</body>
</html>