<!-- Password Set validation Key this Page Render -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="loginpage/style.css">
</head>
<body>
    <h2>Thank You !</h2>
        <a href="/password?id=<%= id %>&key=<%= key %>">
            <p>Click Here For Verification<b>:-</b> http://localhost:7089/password?id=<%= id %>&key=<%=key %></p>
        </a>
    </div>
</body>
</html>