<!-- account successfully open new user this page render-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="loginpage//style.css">
</head>
<body>
    <h2>Your Account Successful Activate</h2>
    <a href="/">
        <div class="passbtn">
            Go Home
        </div>
    </a>
</body>
</html>