<!-- user login show dashboard this page render -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard Page</title>
    <link rel="stylesheet" href="/styleprofile.css">
</head>
<body>
    <h2>Login complete</h2>
    <h3>All Task ListOut</h3>
    <div class="tasklist">
        <table>
            <tr>
                <th>No.</th>
                <th>Task Name</th>
                <th>Task Output</th>
            </tr>
            <tr>
                <td>1</td>
                <td>Dynamic Table</td>
                <td><a href="/login/dashboard/dynamictable">Click Here</a></td>
            </tr>
            <tr>
                <td>2</td>
                <td>Kuku Cube</td>
                <td><a href="/login/dashboard/kukucube">Click Here</a></td>
            </tr>
            <tr>
                <td>3</td>
                <td>Tic Tac Toe</td>
                <td><a href="/login/dashboard/tictactoe">Click Here</a></td>
            </tr>
        </table>
    </div>
    <a href="/signin">
        <div class="passbtn">
            Logout
        </div>
    </a>
</body>
</html>