<!-- user login show dashboard this page render -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard Page</title>
    <link rel="stylesheet" href="/styleprofile.css">
</head>
<body>
    <h2>Login complete</h2>
    <h3>All Task ListOut</h3>
    <div class="tasklist">
        <table>
            <tr>
                <th>No.</th>
                <th>Task Name</th>
                <th colspan="3">Task Output</th>
            </tr>
            <!-- task 1 -->
            <tr>
                <td>1</td>
                <td>Dynamic Table</td>
                <td colspan="3"><a href="/login/dashboard/dynamictable">Click Here</a></td>
            </tr>
            <!-- task 2 -->
            <tr>
                <td>2</td>
                <td>Kuku Cube</td>
                <td colspan="3"><a href="/login/dashboard/kukucube">Click Here</a></td>
            </tr>

            <!-- task 3 -->
            <tr>
                <td>3</td>
                <td>Tic Tac Toe</td>
                <td colspan="3"><a href="/login/dashboard/tictactoe">Click Here</a></td>
            </tr>

            <!-- task 4 -->
            <tr>
                <td>4</td>
                <td>Sorting Algorithm</td>
                <td colspan="3"><a href="/login/dashboard/sorting">Click Here</a></td>
            </tr>

            <!-- task 5 -->
            <tr>
                <td>5</td>
                <td>Javascript Events</td>
                <td colspan="3"><a href="/login/dashboard/events">Click Here</a></td>
            </tr>

            <!-- task 6 -->
            <tr>
                <td rowspan="3">6</td>
                <td rowspan="3">Student Datalist</td>
                <td><a href="/login/dashboard/datalist">datalist</a></td>
            </tr>
            <tr>
                <td><a href="/login/dashboard/component">pagination</a></td>
            </tr>
            <tr>
                <td><a href="/login/dashboard/orderby">orderby & pagination</a></td>
            </tr>

            <!-- task 7 -->
            <tr>
                <td>7</td>
                <td>Student Attendence Report</td>
                <td><a href="/login/dashboard/attendence">Click Here</a></td>
            </tr>

            <!-- task 8 -->
            <tr>
                <td>8</td>
                <td>Student Result</td>
                <td><a href="/login/dashboard/resultlist">Click Here</a></td>
            </tr>

             <!-- task 9 -->
             <tr>
                <td>9</td>
                <td>Dynamic Query run</td>
                <td><a href="/login/dashboard/sqlquery">Click Here</a></td>
            </tr>

            <!-- task 10 -->
            <tr>
                <td>10</td>
                <td>Column Wise Orderby</td>
                <td><a href="/dashboard/columnorderby">Click Here</a></td>
            </tr>

            <!-- task 11 -->
            <tr>
                <td>11</td>
                <td>Searching</td>
                <td><a href="/login/dashboard/searching">Click Here</a></td>
            </tr>
            
            <!-- task 12 -->
            <tr>
                <td>12</td>
                <td>Delimiter Searching</td>
                <td><a href="/login/dashboard/delimitersearch">Click Here</a></td>
            </tr>
        </table>
    </div>
    <div class="passbtn">
            <a href="/signin">Logout</a>
        </div>
</body>
</html>