<!-- user login show dashboard this page render -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard Page</title>
    <link rel="stylesheet" href="/styleprofile.css">
</head>
<body>
    <h2>Login complete</h2>
    <p>Hello! <strong><%= name %></strong></p>
    <h3>All Task ListOut</h3>
    <div class="tasklist">
        <div class="htmltask">
            <table>
                <!-- HTML TASK -->
                <tr style="text-align: center; background-color: burlywood;">
                    <td colspan="3">HTML TASK</td>
                </tr>

                <tr>
                    <th>No.</th>
                    <th>Task Name</th>
                    <th>Task Output</th>
                </tr>
                <!-- task 1 -->
                <tr>
                    <td>1</td>
                    <td>Html Task 1</td>
                    <td><div class="link1"><a href="/login/dashboard/htmltask1">Click Here</a></div></td>
                </tr>

                <!-- task 2 -->
                <tr>
                    <td>2</td>
                    <td>Html Task 2</td>
                    <td><div class="link1"><a href="/login/dashboard/htmltask2">Click Here</a></div></td>
                </tr>

                <!-- task 3 -->
                <tr>
                    <td>3</td>
                    <td>Html Task 3</td>
                    <td><div class="link1"><a href="/login/dashboard/htmltask3">Click Here</a></div></td>
                </tr>

                <!-- JAVASCRIPT TASK -->
                <tr style="text-align: center; background-color: burlywood;">
                    <td colspan="3">JAVASCRIPT TASK</td>
                </tr>

                <tr>
                    <th>No.</th>
                    <th>Task Name</th>
                    <th>Task Output</th>
                </tr>

                <!-- task 4 -->
                <tr>
                    <td>4</td>
                    <td>Dynamic Table</td>
                    <td><div class="link1"><a href="/login/dashboard/dynamictable">Click Here</a></div></td>
                </tr>

                <!-- task 5 -->
                <tr>
                    <td>5</td>
                    <td>Kuku Cube</td>
                    <td><div class="link1"><a href="/login/dashboard/kukucube">Click Here</a></div></td>
                </tr>

                <!-- task 6 -->
                <tr>
                    <td>6</td>
                    <td>Tic Tac Toe</td>
                    <td><div class="link1"><a href="/login/dashboard/tictactoe">Click Here</a></div></td>
                </tr>

                <!-- task 7 -->
                <tr>
                    <td>7</td>
                    <td>Sorting Algorithm</td>
                    <td><div class="link1"><a href="/login/dashboard/sorting">Click Here</a></div></td>
                </tr>

                <!-- task 8 -->
                <tr>
                    <td>8</td>
                    <td>Javascript Events</td>
                    <td><div class="link1"><a href="/login/dashboard/events">Click Here</a></div></td>
                </tr>
            </table>
        </div>
        <div class="nodejstask">
            <table>
                <!-- NODEJS TASK -->
                <tr style="text-align: center; background-color: burlywood;">
                    <td colspan="3">NODEJS TASK</td>
                </tr>

                <tr>
                    <th>No.</th>
                    <th>Task Name</th>
                    <th>Task Output</th>
                </tr>

                 <!-- task 9 -->
                <tr>
                    <td rowspan="3">9</td>
                    <td rowspan="3">Student Datalist</td>
                    <td><div class="link1"><a href="/login/dashboard/datalist">datalist</a></div></td>
                </tr>
                <tr>
                    <td><div class="link1"><a href="/login/dashboard/component">pagination</a></div></td>
                </tr>
                <tr>
                    <td><div class="link1"><a href="/login/dashboard/orderby">orderby & pagination</a></div></td>
                </tr>

                <!-- task 10 -->
                <tr>
                    <td>10</td>
                    <td>Student Attendence Report</td>
                    <td><div class="link1"><a href="/login/dashboard/attendence">Click Here</a></div></td>
                </tr>

                <!-- task 11 -->
                <tr>
                    <td>11</td>
                    <td>Student Result</td>
                    <td><div class="link1"><a href="/login/dashboard/resultlist">Click Here</a></div></td>
                </tr>

                <!-- task 12 -->
                 <tr>
                    <td>12</td>
                    <td>Dynamic Query run</td>
                    <td><div class="link1"><a href="/login/dashboard/sqlquery">Click Here</a></div></td>
                </tr>

                <!-- task 13 -->
                <tr>
                    <td>13</td>
                    <td>Column Wise Orderby</td>
                    <td><div class="link1"><a href="/dashboard/columnorderby">Click Here</a></div></td>
                </tr>

                <!-- task 14 -->
                <tr>
                    <td>14</td>
                    <td>Searching</td>
                    <td><div class="link1"><a href="/login/dashboard/searching">Click Here</a></div></td>
                </tr>

                 <!-- task 15 -->
                <tr>
                    <td>15</td>
                    <td>Delimiter Searching</td>
                    <td><div class="link1"><a href="/login/dashboard/delimitersearch">Click Here</a></div></td>
                </tr>

                 <!-- task 16 -->
                 <tr>
                    <td rowspan="2">16</td>
                    <td rowspan="2">JobForm</td>
                    <td><div class="link1"><a href="/login/dashboard/jobform">Click Here</a></div></td>
                    <tr>
                        <td><div class="link1"><a href="/login/dashboard/simplejoblistdata">List Data</a></div></td>
                    </tr>
                </tr>

                <!-- AJAX TASK -->
                <tr style="text-align: center; background-color: burlywood;">
                    <td colspan="3">AJAX TASK</td>
                </tr>

                <tr>
                    <th>No.</th>
                    <th>Task Name</th>
                    <th>Task Output</th>
                </tr>

                <!-- task 17 -->
                <tr>
                    <td>17</td>
                    <td>Dump Api Fetch</td>
                    <td><div class="link1"><a href="/login/dashboard/apifetch">Click Here</a></div></td>
                </tr>

                <!-- task 18 -->
                <tr>
                    <td>18</td>
                    <td>Ajax Dropdown</td>
                    <td><div class="link1"><a href="/login/dashboard/ajaxdropdown">Click Here</a></div></td>
                </tr>


                <!-- task 19 -->
                 <tr>
                    <td rowspan="2">19</td>
                    <td rowspan="2">Ajax JobForm</td>
                    <td><div class="link1"><a href="/login/dashboard/ajaxjobform">Click Here</a></div></td>
                </tr>
                <tr>
                    <td><div class="link1"><a href="/login/dashboard/joblistdata">List Data</a></div></td>
                </tr>
            </table>
        </div>
    </div>
    <div class="passbtn">
            <a href="/signin">Logout</a>
        </div>
</body>
</html>