<!-- Password set for new user this page render -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Activation Page</title>
    <link rel="stylesheet" href="loginpage/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <h2>Password Set</h2>
    <% if(hours < 1) { %>
    <form action="/activation" autocomplete="off" id="form">
        <input type="hidden" name="id" value="<%= result[0].id %>">
        <input type="hidden" name="key" value="<%= result[0].accesskey %>">
        <input type="hidden" name="salt" value="<%= result[0].salt %>">
        <table>
            <tr>
                <td>
                    <span id="a1"></span>
                </td>
            </tr>
            <tr>
                <td>
                    <input type="password" id="password" name="password" placeholder="Password">
                    <span class="password-toggle-icon" style="margin-left: -22px;"><i class="fas fa-eye"></i></span>
                </td>
            </tr>
            <tr>
                <td>
                    <input type="password" id="rpassword" name="rpassword" placeholder="Re-Password">
                    <span class="rpassword-toggle-icon" style="margin-left: -22px;"><i class="fas fa-eye"></i></span>
                </td>
            </tr>
            <tr>
                <td>
                    <input type="button" value="Submit" id="submitbtn" onclick="passvalidation()">
                </td>
            </tr>
        </table>
    </form>
    <div class="loginpage">
        <span id="s11"></span>
    </div>
    <% }else{ %>
        <h2>Your session is expired!</h2>
        <a href="/">
            <div class="passbtn">
                Go Home
            </div>
        </a>
    <% } %>
    <script type="text/javascript" src="loginpage/script.js"></script>
</body>
</html>