<!-- Website homepage-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Website</title>
    <link rel="stylesheet" href="loginpage/style.css">
</head>
<body>
    <div class="namediv">
        <h3>Name:- Vishvas Panshiniya</h3>
        <h3>EmpId:- 24DEV065</h3>
    </div>
    <h2>Hello! Welcome To This Website</h2>
    <div class="maindiv">
        <a href="/signin">
            <div class="signbtn">
                Sign In
            </div>
        </a>
        <a href="/signup">
            <div class="signbtn">
                Sign Up
            </div>
        </a>
    </div>
    <script type="text/javascript" src="loginpage/script.js"></script>
</body>
</html>